In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#%matplotlib inline

In [2]:
ipl=pd.read_csv(r'C:\Users\HP\Downloads\flickr hackathon\train_data.csv',encoding= 'unicode_escape')

In [3]:
ipl.head()

,PLAYER,Mat,Inns,NO,2018_Runs,HS,Out or Not out,Avg,BF,SR,100,50,4s,6s,2019_Runs
0,Aaron Finch,10,9,1,134,46,0,16.75,100,134.00,0,0,6,8,160
1,AB de Villiers,12,11,2,480,90,1,53.33,275,174.54,0,6,39,30,424
2,Abhishek Sharma,3,3,2,63,46,1,63.00,33,190.90,0,0,3,5,63
3,Ajinkya Rahane,15,14,1,370,65,1,28.46,313,118.21,0,1,39,5,396
4,Alex Hales,6,6,0,148,45,0,24.66,118,125.42,0,0,13,6,165

In [4]:
ipl.shape

(100, 15)

In [5]:
X_train=ipl.drop(['2019_Runs','PLAYER'],axis=1)
y_train=ipl['2019_Runs']

In [6]:
X_train=X_train.rename(columns={'2018_Runs':'prev_match_runs'})

In [7]:
X_train

,Mat,Inns,NO,prev_match_runs,HS,Out or Not out,Avg,BF,SR,100,50,4s,6s
0,10,9,1,134,46,0,16.75,100,134.00,0,0,6,8
1,12,11,2,480,90,1,53.33,275,174.54,0,6,39,30
2,3,3,2,63,46,1,63.00,33,190.90,0,0,3,5
3,15,14,1,370,65,1,28.46,313,118.21,0,1,39,5
4,6,6,0,148,45,0,24.66,118,125.42,0,0,13,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,3,530,92,1,48.18,381,139.10,0,4,52,18
96,7,6,3,65,35,0,21.66,38,171.05,0,0,5,4
97,11,10,2,122,35,0,15.25,102,119.60,0,0,17,1
98,15,13,4,260,45,1,28.88,200,130.00,0,0,22,11
99,8,6,0,65,20,0,10.83,73,89.04,0,0,6,2

In [8]:
y_train

0     160
1     424
2      63
3     396
4     165
     ...
95    488
96     64
97    115
98    296
99     67
Name: 2019_Runs, Length: 100, dtype: int64

In [9]:
#X_train['Avg']=X_train['Avg'].fillna(X_train['2018_Runs']/X_train['Inns'])

In [10]:
X_train.head(50)

,Mat,Inns,NO,prev_match_runs,HS,Out or Not out,Avg,BF,SR,100,50,4s,6s
0,10,9,1,134,46,0,16.75,100,134.00,0,0,6,8
1,12,11,2,480,90,1,53.33,275,174.54,0,6,39,30
2,3,3,2,63,46,1,63.00,33,190.90,0,0,3,5
3,15,14,1,370,65,1,28.46,313,118.21,0,1,39,5
4,6,6,0,148,45,0,24.66,118,125.42,0,0,13,6
5,16,16,2,602,100,1,43.00,402,149.75,1,3,53,34
6,16,14,3,316,88,1,28.72,171,184.79,0,1,17,31
7,14,8,2,32,14,0,5.33,38,84.21,0,0,2,1
8,9,8,2,80,19,0,13.33,69,115.94,0,0,3,4
9,9,6,2,96,37,0,24.00,58,165.51,0,0,5,8
10,13,13,1,196,45,0,16.33,161,121.73,0,0,13,6
11,12,4,2,13,7,0,6.50,16,81.25,0,0,1,0
12,6,6,0,127,43,0,21.16,88,144.31,0,0,16,6
13,4,4,1,75,43,1,25.00,48,156.25,0,0,1,8
14,11,11,2,368,104,1,40.88,252,146.03,1,3,30,27
15,16,16,1,491,74,0,32.73,377,130.23,0,3,56,18
16,4,4,3,46,27,1,46.00,26,176.92,0,0,3,2
17,5,4,2,17,11,0,8.50,19,89.47,0,0,1,1
18,9,8,3,131,40,0,26.20,84,155.95,0,0,4,10
19,5,5,0,63,33,0,12.60,41,153.65,0,0,7,4
20,3,3,0,17,15,0,5.66,22,77.27,0,0,0,1
21,4,3,1,26,13,0,13.00,33,78.78,0,0,0,1
22,7,7,0,115,44,0,16.42,99,116.16,0,0,11,5
23,3,3,1,74,26,0,37.00,64,115.62,0,0,3,2
24,12,4,1,50,39,0,16.66,29,172.41,0,0,1,4
25,9,8,4,87,32,1,21.75,81,107.40,0,0,2,3
26,16,16,6,498,52,0,49.80,337,147.77,0,2,49,16
27,16,10,6,141,68,0,35.25,91,154.94,0,1,8,10
28,13,13,0,382,65,0,29.38,276,138.40,0,2,32,24
29,6,6,1,162,67,1,32.40,129,125.58,0,1,17,6
30,6,5,0,85,55,0,17.00,88,96.59,0,1,8,1
31,12,12,0,169,47,0,14.08,120,140.83,0,0,14,9
32,13,3,0,29,19,0,9.66,36,80.55,0,0,3,1
33,13,13,4,260,50,0,28.88,195,133.33,0,1,20,11
34,5,2,1,60,36,1,60.00,33,181.81,0,0,1,6
35,4,4,1,57,32,0,19.00,47,121.27,0,0,5,1
36,14,12,0,275,62,0,22.91,184,149.45,0,2,22,17
37,5,5,1,120,91,1,30.00,94,127.65,0,1,9,7
38,15,7,3,49,26,0,12.25,38,128.94,0,0,6,1
39,10,8,3,15,8,0,3.00,21,71.42,0,0,2,0
40,13,13,3,548,95,1,54.80,353,155.24,0,5,52,21
41,6,4,3,36,23,0,36.00,40,90.00,0,0,3,1
42,17,17,3,735,84,0,52.50,516,142.44,0,8,64,28
43,13,12,0,301,54,0,25.08,221,136.19,0,2,23,13
44,1,1,1,24,24,1,24.00,22,109.09,0,0,1,2
45,9,8,1,133,50,0,19.00,100,133.00,0,1,10,7
46,14,14,2,659,95,1,54.91,416,158.41,0,6,66,32
47,15,13,4,126,33,1,14.00,64,196.87,0,0,9,9
48,14,13,3,228,41,1,22.80,157,145.22,0,0,22,10
49,2,2,1,20,11,0,20.00,21,95.23,0,0,1,0

In [11]:
test_data=pd.read_csv(r'C:\Users\HP\Downloads\flickr hackathon\test_data.csv',encoding= 'unicode_escape')

In [12]:
test_data.head()

,PLAYER,Mat,Inns,NO,2019_Runs,HS,Out or not out,Avg,BF,SR,100,50,4s,6s
0,David Warner,12,12,2,692,100,1,69.20,481,143.86,1,8,57,21
1,KL Rahul,14,14,3,593,100,1,53.90,438,135.38,1,6,49,25
2,Quinton de Kock,16,16,1,529,81,0,35.26,398,132.91,0,4,45,25
3,Shikhar Dhawan,16,16,1,521,97,1,34.73,384,135.67,0,5,64,11
4,Andre Russell,14,13,4,510,80,1,56.66,249,204.81,0,4,31,52

In [13]:
X_test=test_data.drop(['PLAYER'],axis=1)
X_test=X_test.rename(columns={'2019_Runs':'prev_match_runs'})
X_test=X_test.rename(columns={'Out or not out':'Out or Not out '})
X_test.head()

,Mat,Inns,NO,prev_match_runs,HS,Out or Not out,Avg,BF,SR,100,50,4s,6s
0,12,12,2,692,100,1,69.20,481,143.86,1,8,57,21
1,14,14,3,593,100,1,53.90,438,135.38,1,6,49,25
2,16,16,1,529,81,0,35.26,398,132.91,0,4,45,25
3,16,16,1,521,97,1,34.73,384,135.67,0,5,64,11
4,14,13,4,510,80,1,56.66,249,204.81,0,4,31,52

In [14]:
X_train.shape

(100, 13)

In [15]:
y_train.shape

(100,)

In [16]:
import xgboost
regressor=xgboost.XGBRegressor()

In [17]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

In [18]:
#Hyper Parameter Optimization


n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
  'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [19]:
from sklearn.model_selection import RandomizedSearchCV

In [20]:
# Set up the random search with 4-fold cross validation

random_cv = RandomizedSearchCV(estimator=regressor,
           param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [21]:
random_cv.fit(X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    3.0s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    4.9s
[Parallel(n_jobs=4)]: Done 243 out of 250 | elapsed:    7.9s remaining:    0.1s
[Parallel(n_jobs=4)]: Done 250 out of 250 | elapsed:    8.0s finished

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_con...
                   iid='warn', n_iter=50, n_jobs=4,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [2, 3, 5, 10, 15],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': [100, 500, 900, 1100,
                                                         1500]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=True, scoring='neg_mean_absolute_error',
                   verbose=5)

In [22]:
random_cv.best_estimator_

XGBRegressor(base_score=0.75, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=2, missing=nan, monotone_constraints='()',
             n_estimators=1100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [23]:
regressor=xgboost.XGBRegressor(base_score=0.75, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=2, missing=None, monotone_constraints='()',
             n_estimators=1100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [24]:
regressor.fit(X_train,y_train)

XGBRegressor(base_score=0.75, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=2, missing=None, monotone_constraints='()',
             n_estimators=1100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [25]:
predictions=regressor.predict(X_test)
predictions

array([661.11664 , 556.7741  , 489.9557  , 488.91742 , 462.54254 ,
       444.17667 , 442.15103 , 417.0085  , 414.5004  , 402.362   ,
       404.36517 , 402.28336 , 400.77136 , 402.93683 , 401.7742  ,
       403.04547 , 401.4352  , 397.45236 , 398.59396 , 398.38705 ,
       395.5161  , 375.91028 , 377.09647 , 378.3347  , 378.63287 ,
       349.5948  , 347.13028 , 349.64667 , 343.83588 , 335.2833  ,
       332.5435  , 322.28094 , 284.54858 , 278.85876 , 242.8934  ,
       219.32172 , 219.32257 , 183.87596 , 183.74593 , 182.13107 ,
       183.07468 , 180.39957 , 180.54634 , 179.79465 , 167.5344  ,
       161.74997 , 162.19585 , 115.135216, 100.97428 ,  99.14271 ,
        97.515396,  98.17818 ,  94.311584,  93.957504,  90.54134 ,
        85.45605 ,  83.254   ,  80.29299 ,  79.36555 ,  80.48182 ,
        70.910255,  70.84    ,  68.890236,  63.849796,  66.70269 ,
        65.26903 ,  63.170715,  60.864048,  32.32482 ,  26.49791 ,
        21.161863,  21.607056,  21.390917,  20.599943,  20.526796,
        20.123678,  18.93663 ,  19.662859,  16.197315,  15.484534,
        13.611132,  12.23545 ,  11.686678,  11.753342,  12.356601,
        11.891057,  11.072347,   9.934436,   9.725848,  10.333705,
         9.680791,   8.820072,   9.632613,   9.327833,   9.080995,
         9.149427,   9.998708,   9.528158,   8.857359,   9.767285],
      dtype=float32)

In [26]:
from sklearn.linear_model import LogisticRegression

m = LogisticRegression(
    penalty='l1',
    C=0.1)

In [27]:
m.fit(X_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
predictions1=m.predict(X_test)
predictions1

array([416, 405, 405, 445, 353, 510, 424, 405, 396, 393, 282, 405, 416,
       405, 405, 383, 405, 405, 393, 396, 344, 393, 405, 282, 393, 344,
       396, 393, 405, 396, 396, 353, 106, 344, 353, 282, 416, 344, 344,
       220, 353, 220, 396, 282,  98,  98, 282,  98,  64, 282, 220, 344,
        42,  42,  64, 106,  64,  42,  64,  32,  64,  64,  64,  64,  18,
        20,  64,  18,  42,  42,  18,  64,  64,  18,  42,  64,  18,  25,
        12,   9,   9,  12,  12,   9,  12,  12,  12,  12,  12,  10,   9,
         9,  10,   9,   9,  12,  10,  12,   9,  12], dtype=int64)

In [29]:
from mlxtend.classifier import StackingClassifier

In [30]:
n = StackingClassifier(classifiers=[LogisticRegression(penalty='l1',C=0.1),
        xgboost.XGBRegressor(base_score=0.75, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=2, missing=None, monotone_constraints='()',
             n_estimators=1100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)
    ],
    meta_classifier=LogisticRegression()
)

In [31]:
n.fit(X_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

StackingClassifier(average_probas=False,
                   classifiers=[LogisticRegression(C=0.1, class_weight=None,
                                                   dual=False,
                                                   fit_intercept=True,
                                                   intercept_scaling=1,
                                                   l1_ratio=None, max_iter=100,
                                                   multi_class='warn',
                                                   n_jobs=None, penalty='l1',
                                                   random_state=None,
                                                   solver='warn', tol=0.0001,
                                                   verbose=0,
                                                   warm_start=False),
                                XGBRegressor(base_score=0.75, booster='gbtree',
                                             colsample_byleve...
                   meta_classifier=LogisticRegression(C=1.0, class_weight=None,
                                                      dual=False,
                                                      fit_intercept=True,
                                                      intercept_scaling=1,
                                                      l1_ratio=None,
                                                      max_iter=100,
                                                      multi_class='warn',
                                                      n_jobs=None, penalty='l2',
                                                      random_state=None,
                                                      solver='warn', tol=0.0001,
                                                      verbose=0,
                                                      warm_start=False),
                   store_train_meta_features=False, use_clones=True,
                   use_features_in_secondary=False, use_probas=False,
                   verbose=0)

In [32]:
final_predictions=n.predict(X_test)
final_predictions

array([521, 521, 405, 405, 521, 405, 405, 405, 405, 405, 521, 405, 405,
       405, 405, 405, 405, 405, 405, 405, 405, 405, 405, 521, 405, 405,
       405, 405, 405, 405, 405, 405, 244, 405, 405, 405, 211, 211, 211,
       405, 211, 405, 184, 490, 521, 521, 211, 282, 521, 184, 184,  84,
       244, 244, 521, 282, 282, 183, 282, 244, 282, 282, 282, 282,  67,
       244, 282, 244,  98,  42,  18,  86,  86,  18,  42,  84,  18,  40,
        18,  18,  18,  18,  18,  18,  18,  18,  18,  12,  12,  18,  12,
        12,  12,  12,  12,  12,  12,  12,  12,  12], dtype=int64)

In [33]:
pred=pd.DataFrame(final_predictions)
datasets=pd.concat([test_data['PLAYER'],pred],axis=1)
datasets.columns=['PLAYER','2020_Runs']

In [34]:
datasets=datasets.rename(columns={'PLAYER':'Player Name'})
datasets=datasets.rename(columns={'2020_Runs':'Total Runs in IPL 2020'})
datasets.head()

       Player Name  Total Runs in IPL 2020
0     David Warner                     521
1         KL Rahul                     521
2  Quinton de Kock                     405
3   Shikhar Dhawan                     405
4    Andre Russell                     521

In [36]:
datasets.to_csv('Sample_submission_ipl.csv',index=False)